@model FFXIVGuide.Web.Models.Guide.IndexViewModel

@{
    ViewData["Title"] = "FFXIV Guide";
}

<div class="container-fluid">
    <div class="row min-vh-100">
        <partial name="Sidebar" for="Sidebar" />
        <div class="col-lg-9" id="instanceDetails">
            <partial name="InstanceDetails" for="InstanceDetails" />
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function CopyToClipboard(el){            
            navigator.clipboard.writeText(el.textContent);
        }
    </script>
}