@model Dictionary<int, string>

@if (Model != null)
{
    @foreach (var kvp in Model)
    {
        <div class="form-check">
            <input type="radio" id="instance-@kvp.Key" name="id" value="@kvp.Key" class="form-check-input" 
                   hx-get="/Guide/InstanceDetails" hx-target="#instanceDetails" />
            <label class="form-check-label" for="instance-@kvp.Key">@kvp.Value</label>
        </div>
    }
}