@model Dictionary<int, string>

@foreach(var kvp in Model)
{
    <div class="form-check">
        <input type="radio" id="instance-@kvp.Key" name="instance" value="@kvp.Key" class="form-check-input" />
        <label class="form-check-label" for="instance-@kvp.Key">@kvp.Value</label>
    </div>
}