@model FFXIVGuide.Web.Models.Guide.SidebarViewModel

<div class="col-lg-3">
    <div id="rouletteTypeList">
        <partial name="RouletteTypeList" for="@Model.RouletteTypeList" />
    </div>

    <input class="form-control mb-3" type="search" name="search" placeholder="Search"
           hx-post="Guide/Search" hx-trigger="input changed delay:500ms, search" hx-target="#instanceList" hx-indicator=".htmx-indicator">

    <div id="instanceList">
        <partial name="InstanceList" for="@Model.InstanceList" />    
    </div>
</div>